<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            // 함수를 선언합니다.
            function changeIcon(parent, from, to) {
                var target = $('.ui-btn-text', parent).next();
                target.removeClass(from).addClass(to);
            }

            function changeCount(index, count) {
                $('li[data-index = ' + index + '] .ui-li-count').html(count);
            }

            // 소켓을 생성합니다.
            var socket = io.connect();

            // 소켓 이벤트를 연결합니다.
            socket.on('count', function (data) {
                // 물건 개수를 변경합니다.
                changeCount(data.index, data.count);
            });

            // 문서 객체 이벤트를 연결합니다.
            $('.product > a[data-icon]').click(function () {
                if ($(this).attr('toggle') != 'off') {
                    // 변수를 선언합니다.
                    var index = $(this).attr('data-index');

                    // 소켓 이벤트를 발생시킵니다.
                    socket.emit('cart', Number(index));

                    // 아이콘 및 테마 변환
                    changeIcon(this, 'ui-icon-check', 'ui-icon-back');

                    // 토글 변수를 변경합니다.
                    $(this).attr('toggle', 'off');
                } else {
                    // 변수를 선언합니다.
                    var index = $(this).attr('data-index');

                    // 구매 의사를 물어봅니다.
                    if (confirm('물건을 구매하겠습니까?')) {
                        // 소켓 이벤트를 발생시킵니다.
                        socket.emit('buy', Number(index));

                        // 리스트 아이템을 제거합니다.
                        $(this).parent().remove();
                        $('#listview').listview('refresh');
                    } else {
                        // 소켓 이벤트를 발생시킵니다.
                        socket.emit('return', Number(index));

                        // 아이콘 및 테마 변환
                        changeIcon(this, 'ui-icon-back', 'ui-icon-check');
                    }

                    // 토글 변수를 변경합니다.
                    $(this).attr('toggle', 'on');
                }
            });
        });
    </script>
</head>
<body>
    <div data-role ="page">
        <div data-role="header">
            <h1>Store</h1>
        </div>
        <div data-role="content">
            <ul id="listview" data-role="listview" data-inset="true" data-filter="true">
                <li data-role="list-divider">products</li>
                <% products.forEach(function (item, index) { %>
                <li class="product" data-index="<%= item.index %>">
                    <a href="#">
                        <img src="chrome.png" />
                        <h3><%= item.name %></h3>
                        <p><%= item.price %>원</p>
                        <span class="ui-li-count"><%= item.count %></span>
                    </a>
                    <a href="#" data-icon="check" data-index="<%= item.index %>"></a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>
